In [1]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

In [2]:
frame = DataFrame(np.random.randn(24, 4), index=pd.period_range('1-2000', '12-2001', freq='M'), 
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [3]:
frame

         Colorado     Texas  New York      Ohio
2000-01 -0.142384  0.189033 -2.672715  1.451274
2000-02 -1.293680 -0.819657 -1.387964  0.348865
2000-03  1.423746 -0.628330 -0.382378  0.708953
2000-04 -0.867314 -0.738212  0.374935  0.433182
2000-05  0.232557  0.576973 -1.038690  0.055996
2000-06  0.334906 -0.439595  0.067624 -0.461203
2000-07 -0.229514  0.140000 -0.711091  0.772418
2000-08  0.981137  0.096780  0.449253  1.401692
2000-09 -0.601971  0.328973  0.099333 -0.367406
2000-10  0.712174  1.078363  0.270791 -0.344004
2000-11  1.084613 -0.756599  1.479535 -0.952039
2000-12 -1.263036 -0.008727 -0.065374  0.115495
2001-01  1.700079 -0.667506 -0.453658  0.885015
2001-02 -0.822773 -0.852519 -0.201770  0.757204
2001-03  1.198346  0.536652  0.128001 -0.449769
2001-04 -0.388055  1.399111  1.039007  0.043119
2001-05  1.277961  0.516570  0.463414  0.965394
2001-06  0.266733  1.464903  0.309197  0.515993
2001-07 -0.336942 -0.581969 -0.741915 -1.345571
2001-08  0.989891  0.469066 -0.759479  0.070646
2001-09 -0.578167 -0.510386  0.148805 -1.153180
2001-10  0.737139 -1.326209  1.250259  2.189500
2001-11  0.476384  0.938639  0.713713 -0.676519
2001-12 -1.550797 -0.435007 -0.942996 -1.048915

In [5]:
week_data = frame.resample('W-MON').ffill()

In [6]:
week_data

                       Colorado     Texas  New York      Ohio
1999-12-28/2000-01-03 -0.142384  0.189033 -2.672715  1.451274
2000-01-04/2000-01-10 -0.142384  0.189033 -2.672715  1.451274
2000-01-11/2000-01-17 -0.142384  0.189033 -2.672715  1.451274
2000-01-18/2000-01-24 -0.142384  0.189033 -2.672715  1.451274
2000-01-25/2000-01-31 -0.142384  0.189033 -2.672715  1.451274
2000-02-01/2000-02-07 -1.293680 -0.819657 -1.387964  0.348865
2000-02-08/2000-02-14 -1.293680 -0.819657 -1.387964  0.348865
2000-02-15/2000-02-21 -1.293680 -0.819657 -1.387964  0.348865
2000-02-22/2000-02-28 -1.293680 -0.819657 -1.387964  0.348865
2000-02-29/2000-03-06  1.423746 -0.628330 -0.382378  0.708953
2000-03-07/2000-03-13  1.423746 -0.628330 -0.382378  0.708953
2000-03-14/2000-03-20  1.423746 -0.628330 -0.382378  0.708953
2000-03-21/2000-03-27  1.423746 -0.628330 -0.382378  0.708953
2000-03-28/2000-04-03 -0.867314 -0.738212  0.374935  0.433182
2000-04-04/2000-04-10 -0.867314 -0.738212  0.374935  0.433182
2000-04-11/2000-04-17 -0.867314 -0.738212  0.374935  0.433182
2000-04-18/2000-04-24 -0.867314 -0.738212  0.374935  0.433182
2000-04-25/2000-05-01  0.232557  0.576973 -1.038690  0.055996
2000-05-02/2000-05-08  0.232557  0.576973 -1.038690  0.055996
2000-05-09/2000-05-15  0.232557  0.576973 -1.038690  0.055996
2000-05-16/2000-05-22  0.232557  0.576973 -1.038690  0.055996
2000-05-23/2000-05-29  0.232557  0.576973 -1.038690  0.055996
2000-05-30/2000-06-05  0.334906 -0.439595  0.067624 -0.461203
2000-06-06/2000-06-12  0.334906 -0.439595  0.067624 -0.461203
2000-06-13/2000-06-19  0.334906 -0.439595  0.067624 -0.461203
2000-06-20/2000-06-26  0.334906 -0.439595  0.067624 -0.461203
2000-06-27/2000-07-03 -0.229514  0.140000 -0.711091  0.772418
2000-07-04/2000-07-10 -0.229514  0.140000 -0.711091  0.772418
2000-07-11/2000-07-17 -0.229514  0.140000 -0.711091  0.772418
2000-07-18/2000-07-24 -0.229514  0.140000 -0.711091  0.772418
...                         ...       ...       ...       ...
2001-06-05/2001-06-11  0.266733  1.464903  0.309197  0.515993
2001-06-12/2001-06-18  0.266733  1.464903  0.309197  0.515993
2001-06-19/2001-06-25  0.266733  1.464903  0.309197  0.515993
2001-06-26/2001-07-02 -0.336942 -0.581969 -0.741915 -1.345571
2001-07-03/2001-07-09 -0.336942 -0.581969 -0.741915 -1.345571
2001-07-10/2001-07-16 -0.336942 -0.581969 -0.741915 -1.345571
2001-07-17/2001-07-23 -0.336942 -0.581969 -0.741915 -1.345571
2001-07-24/2001-07-30 -0.336942 -0.581969 -0.741915 -1.345571
2001-07-31/2001-08-06  0.989891  0.469066 -0.759479  0.070646
2001-08-07/2001-08-13  0.989891  0.469066 -0.759479  0.070646
2001-08-14/2001-08-20  0.989891  0.469066 -0.759479  0.070646
2001-08-21/2001-08-27  0.989891  0.469066 -0.759479  0.070646
2001-08-28/2001-09-03 -0.578167 -0.510386  0.148805 -1.153180
2001-09-04/2001-09-10 -0.578167 -0.510386  0.148805 -1.153180
2001-09-11/2001-09-17 -0.578167 -0.510386  0.148805 -1.153180
2001-09-18/2001-09-24 -0.578167 -0.510386  0.148805 -1.153180
2001-09-25/2001-10-01  0.737139 -1.326209  1.250259  2.189500
2001-10-02/2001-10-08  0.737139 -1.326209  1.250259  2.189500
2001-10-09/2001-10-15  0.737139 -1.326209  1.250259  2.189500
2001-10-16/2001-10-22  0.737139 -1.326209  1.250259  2.189500
2001-10-23/2001-10-29  0.737139 -1.326209  1.250259  2.189500
2001-10-30/2001-11-05  0.476384  0.938639  0.713713 -0.676519
2001-11-06/2001-11-12  0.476384  0.938639  0.713713 -0.676519
2001-11-13/2001-11-19  0.476384  0.938639  0.713713 -0.676519
2001-11-20/2001-11-26  0.476384  0.938639  0.713713 -0.676519
2001-11-27/2001-12-03 -1.550797 -0.435007 -0.942996 -1.048915
2001-12-04/2001-12-10 -1.550797 -0.435007 -0.942996 -1.048915
2001-12-11/2001-12-17 -1.550797 -0.435007 -0.942996 -1.048915
2001-12-18/2001-12-24 -1.550797 -0.435007 -0.942996 -1.048915
2001-12-25/2001-12-31 -1.550797 -0.435007 -0.942996 -1.048915

[105 rows x 4 columns]

In [7]:
week_data.describe()

         Colorado       Texas    New York        Ohio
count  105.000000  105.000000  105.000000  105.000000
mean     0.134270    0.002421   -0.135787    0.174509
std      0.919198    0.761705    0.919372    0.902001
min     -1.550797   -1.326209   -2.672715   -1.345571
25%     -0.578167   -0.628330   -0.741915   -0.449769
50%      0.232557    0.096780    0.067624    0.070646
75%      0.981137    0.536652    0.374935    0.772418
max      1.700079    1.464903    1.479535    2.189500